<footer class="footer footer-big footer-black">
    <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->

    <div class="container">
        <div class="row">

            <div class="col-md-3 col-md-offset-1">
                <h5 class="title">Company</h5>
                <nav>
                    <ul>
                        <li>
                            <a ng-href="/">
                                Home
                            </a>
                        </li>
                        <!--
                        <li>
                            <a href="#">
                                About Us
                            </a>
                        </li>
                        -->
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                <h5 class="title"> Help and Support</h5>
                <nav>
                    <ul>
                        <!--
                        <li>
                            <a href="#">
                                Contact Us
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                How it works
                            </a>
                        </li>
                        -->
                        <li>
                            <a ng-href="/terms">
                                Terms & Conditions
                            </a>
                        </li>
                        <li>
                            <a ng-href="/privacy">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                <h5 class="title">Follow us on</h5>
                <nav>
                    <ul>
                        <!--
                        <li>
                            <a href="#" class="btn btn-social btn-facebook btn-simple">
                                <i class="fa fa-facebook-square"></i> Facebook
                            </a>
                        </li>
                        -->
                        <li>
                            <a href="https://twitter.com/beautysupermkt" class="btn btn-social btn-twitter btn-simple">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/u/0/b/108680220534828913655/108680220534828913655/about" class="btn btn-social btn-reddit btn-simple">
                                <i class="fa fa-google-plus-square"></i> Google+
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
        <hr />
        <div class="copyright">
            &copy; 2014 BeautySupermarket
        </div>
    </div>
</footer>