<nav class="navbar navbar-default" role="navigation-demo" style="background-color:#000; margin-bottom: 0px; border-radius:0px;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-default2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--
      <div class="row">

          <div class="col-md-12">
              <div class="social" style="float: right !important;">
                  <div class="fb">
                      <div fb-like="myModel.FbLikeUrl"></div>
                  </div>
                  <div class="twit">
                      <div tweet="myModel.Name"></div>
                  </div>
                  <div class="gplus">
                      <div google-plus></div>
                  </div>
              </div>
          </div>
      </div>
      -->
      <div class="row">
          <div class="col-md-3">
              <a ng-click="reset()">
                  <img ng-src="img/bslogo.png" style="margin-top:25px;"/>
                  </a>
          </div>

          <div class="col-md-6" style="margin-top:27px;">

              <form ng-submit="search(searchTerm)">
              <div class="input-group" style="margin-left:45px;">
                  <input type="text" value="" placeholder="I'm looking for ..." class="form-control input-lg" ng-model="searchTerm">
                  <span class="input-group-addon"><a href="#"><i class="fa fa-search" style="font-size: 20px;"></i></a></span>
              </div>
              </form>
          </div>
          <!--
          <div class="col-md-3">
             <div class="social">
                 <div class="fb">
                      <div fb-like="myModel.FbLikeUrl"></div>
                 </div>
                 <div class="twit">
                      <div tweet="myModel.Name"></div>
                 </div>
                 <div class="gplus">
                     <div google-plus></div>
                 </div>
              </div>
          </div>
          -->

        </div>
        <div style="margin-top:15px;"></div>

        <!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

</nav>
<!-- end navbar full -->
    <div class="row" style="background-color: #333;">
        <div class="container">
            <!--
            <div class="col-md-1">
                <a ng-href="#/deals" class="btn btn-simple btn-social btn-neutral">
                    Deals
                </a>
            </div>
            -->

            <div class="col-md-1">
                <a ng-click="clearFilters();filter('13250','category')" class="btn btn-simple btn-social btn-neutral">
                    Face
                </a>
            </div>
            <div class="col-md-1">
                <a ng-click="clearFilters();filter('13728','category')" class="btn btn-simple btn-social btn-neutral">
                    Nails
                </a>
            </div>
            <div class="col-md-1">
                <a ng-click="clearFilters();filter('13050','category')" class="btn btn-simple btn-social btn-neutral">
                    Hair
                </a>
            </div>
            <div class="col-md-1">
                <a ng-click="clearFilters();filter('13330','category')" class="btn btn-simple btn-social btn-neutral">
                    Body
                </a>
            </div>
            <div class="col-md-1">
                <a ng-click="clearFilters();filter('13667','category')" class="btn btn-simple btn-social btn-neutral">
                    Lips
                </a>
            </div>
            <div class="col-md-1">
                <a ng-click="clearFilters();filter('13001','category')" class="btn btn-simple btn-social btn-neutral">
                    Fragrances
                </a>
            </div>
            <div class="col-md-1">
                <a ui-sref="deals" class="btn btn-simple btn-social btn-neutral" style="margin-left:20px;">Deals</a>
            </div>
        </div>
    </div>
