<nav class="navbar navbar-default" role="navigation-demo" style="background-color:#000; margin-bottom: 0px; border-radius:0px;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-default2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="row">
            <div style="float:right;">
                <div style="padding-top: 5px;" class="fb-like" data-href="http://www.beautyprice.co.uk" data-layout="standard" data-action="like" data-show-faces="false" data-share="true" data-color-scheme="dark" data-width="30"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a ng-click="reset()">
                <h1 class="logo cursive" style="font-family: 'Grand Hotel',cursive;font-size: 44px;">
                    <span style="color:#ff6799; font-size:44px;">Beauty</span><span style="color:#fff;font-size:44px;">Price</span>
                </h1>
                    </a>
            </div>

            <div class="col-md-7" style="margin-top:27px;">

                <form ng-submit="search(searchTerm)">
                <div class="input-group" style="margin-left:45px;">
                    <!-- 	   Since the css properties cannot check the previous sibling of an element and for the design consistency we recommend to use the "input-group-addon" after the "form-control" like in this example -->
                    <input type="text" value="" placeholder="I'm looking for ..." class="form-control input-lg" ng-model="searchTerm">
                    <span class="input-group-addon"><a href="#"><i class="fa fa-search" style="font-size: 20px;"></i></a></span>
                </div>
                </form>
            </div>
        </div>

        <!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

</nav>
<!-- end navbar full -->
    <div class="row" style="background-color: #333;">
        <div class="container">
            <!--
            <div class="col-md-1">
                <a ng-href="#/deals" class="btn btn-simple btn-social btn-neutral">
                    Deals
                </a>
            </div>
            -->

            <div class="col-md-1">
                <a ng-click="clearFilters();filter('13250','category')" class="btn btn-simple btn-social btn-neutral">
                    Face
                </a>
            </div>
            <div class="col-md-1">
                <a ng-click="clearFilters();filter('13728','category')" class="btn btn-simple btn-social btn-neutral">
                    Nails
                </a>
            </div>
            <div class="col-md-1">
                <a ng-click="clearFilters();filter('13050','category')" class="btn btn-simple btn-social btn-neutral">
                    Hair
                </a>
            </div>
            <div class="col-md-1">
                <a ng-click="clearFilters();filter('13330','category')" class="btn btn-simple btn-social btn-neutral">
                    Body
                </a>
            </div>
            <div class="col-md-1">
                <a ng-click="clearFilters();filter('13667','category')" class="btn btn-simple btn-social btn-neutral">
                    Lips
                </a>
            </div>
            <div class="col-md-1">
                <a ng-click="clearFilters();filter('13001','category')" class="btn btn-simple btn-social btn-neutral">
                    Fragrances
                </a>
            </div>
        </div>
    </div>

        <!--
<div class="separator" style="background-color:#FFE4B5; font-size:14px; padding:0px; padding-top:4px;color:#FFF;">
    <div class="container">
        <ul id="navlist">
            <li><a ng-click="filter('13050','category')" id="current" style="color:#333;"><b>Hair</b></a></li>
            <li><a ng-click="filter('13330','category')" style="color:#333;"><b>Body</b></a></li>
            <li><a ng-click="filter('13728','category')" style="color:#333;"><b>Nails</b></a></li>
            <li><a ng-click="filter('13667','category')" style="color:#333;"><b>Lips</b></a></li>
        </ul>
    </div>
</div>
        -->