<div class="jumbotron sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="sub-header">
                    <div>Find beauty products at an affordable price.</div>
                </div>

                <form ng-submit="search()">
                    <input type="text" ng-model="form.query" style="width:401px; height:40px;" />
                    <input type="submit" value="Search" style="height:40px;" />
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-7">

                <!-- merchants -->
                <div>
                    <h4>Store</h4>
                    <span ng-show="storeSelection.length > 0"><a ng-click="clearFilter('merchant')" style="font-size:13px; text-decoration:underline;">Clear</a></span>
                </div>

                <div ng-repeat="merchant in merchants |orderBy:'count':true | limitTo:storeLimit">

                    <input id="{{merchant.name}}" type="checkbox" value="{{merchant.id}}" ng-checked="storeSelection.indexOf(merchant.id) > -1" ng-click="filter(merchant.id,'merchant')" />
                    <label for="{{merchant.name}}"></label>
                    <a ng-click="filter(merchant.id,'merchant')"><span class="filter">{{merchant.name}} ({{merchant.count}})</span></a>


                    <!-- <input type="checkbox" ng-model="selections.ids[merchant]" name="group" id="{{merchant.id}}" /><span class="filter">{{merchant.name}} ({{merchant.count}})</span> -->
                    <!--    <input type="checkbox" name="stores" ng-model="formData.stores.merchant.id"> Red {{merchant.id}} <a ng-click="filter(merchant,'merchant')"><span class="filter">{{merchant.name}} ({{merchant.count}})</span></a>-->
                </div>
                <div ng-show="!storeFullyExpanded()">
                    <a href style="text-decoration:underline;" ng-click="incrementStoreLimit()">more</a>
                </div>
                <div ng-show="storePartiallyExpanded()">
                    <a href style="text-decoration:underline;" ng-click="decrementStoreLimit()">fewer</a>
                </div>


                <!-- brands -->
                <div class="top-buffer"></div>
                <h4>Brand</h4><span ng-show="brandSelection.length > 0"><a ng-click="clearFilter('brand')" style="font-size:13px; text-decoration:underline;">Clear</a></span>
                <div ng-repeat="brand in brands | orderBy:'count':true | limitTo:brandLimit">

                    <div ng-hide="brand.name =='Unknown'">
                        <input id="{{brand.name}}" type="checkbox" value="{{brand.id}}" ng-checked="brandSelection.indexOf(brand.id) > -1" ng-click="filter(brand.id,'brand')" />
                        <label for="{{brand.name}}"></label>

                        <a ng-click="filter(brand.id,'brand')"><span class="filter">{{brand.name}} ({{brand.count}})</span></a>
                    </div>
                </div>
                <div ng-show="!brandFullyExpanded()">
                    <a href style="text-decoration:underline;" ng-click="incrementBrandLimit()">more</a>
                </div>
                <div ng-show="brandPartiallyExpanded()">
                    <a href style="text-decoration:underline;" ng-click="decrementBrandLimit()">fewer</a>
                </div>

                <!-- prices -->
                <!--
                <div class="top-buffer"></div>
                <div>Price</div>
                <div ng-repeat="brand in brands">
                    {{brand.name}} ({{brand.count}})
                </div>
                -->
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="col-md-9 container">
        <div>
            <div class="panel-heading">
                <div class="results-summary">
                    <div ng-show="checkSomething()">You searched for: {{keyword}}.</div>Showing page <strong>{{currentPage}}</strong> of <strong>{{total}}</strong> results from <strong>{{num_merchants}}</strong> stores</div>

            </div>
            <div class="panel-bodsy">
                <div ng-repeat="product in products.products.product" class="row top-buffer">
                    <div class="col-md-2">
                        <a ng-click="selectItem(product);">
                            <img ng-src="{{product.image_url_large}}" height="80%" width="80%" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="row top-buffer">
                            <div class="col-md-12">
                                <span><a style="text-decoration:underline; color:#1a0dab; font-size:16px; font-family: arial,sans-serif;" ng-click="selectItem(product);">{{product.name}}<a/></span>
                            </div>
                            <div class="col-md-12">
                                <strong>£{{product.price_min}}</strong> from {{product.offer_count}} store<span ng-show="product.offer_count > 1">s</span>
                            </div>
                            <!--
                            <div class="col-md-12">
                                <span>{{ product.description | characters:400 }}</span>
                            </div>
                            -->
                        </div>
                    </div>
                </div>

            </div>

            <div>
                <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size=5 items-per-page=10 boundary-links="true"></pagination>
            </div>
        </div>
    </div>
</div>