<!-- start new searchbar -->
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" rel="home" ng-href="/" ng-click="search()" title="Save money and time sourcing your favourite beauty products">BeautySuggest</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <!--<div ng-controller="ProductListController" class="col-sm-6 col-md-6">-->
        <div class="col-sm-6 col-md-6">
            <form ng-submit="search()" class="navbar-form" role="search" name="search-form">

                <div class="input-group">
                    <input type="text" size="80" ng-model="form.query" class="form-control search-box" placeholder="Chanel, L'Oreal, Calvin Klein ..." id="query" name="query" value="">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-search"><span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <ul class="nav navbar-nav navbar-right" style="padding-right:20px;">
            <li class=""><a data-toggle="modal" href="#" data-target="#">Login</a>
            </li>
            <li><a data-toggle="modal" href="#" data-target="#">Register</a>
            </li>
        </ul>
    </div>
</div>
<!-- end new searchbar -->
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">

                <!-- brands -->
                <div class="top-spacer"></div>
                <span class="label"><h4 class="filter-header">Refine By Brand</h4></span>
                <span class="label filter-links" ng-show="brandSelection.length > 0"><a ng-click="clearFilter('brand')" style="font-size:12px; text-decoration:underline;">Clear</a></span>
                <div ng-repeat="brand in brands | orderBy:'count':true | limitTo:brandLimit">

                    <div ng-hide="brand.name =='Unknown'">
                        <input id="{{brand.name}}" type="checkbox" value="{{brand.id}}" ng-checked="brandSelection.indexOf(brand.id) > -1" ng-click="filter(brand.id,'brand')" />
                        <label for="{{brand.name}}"></label>

                        <a ng-click="filter(brand.id,'brand')"><span class="filter filter-links">{{brand.name}} ({{brand.count}})</span></a>
                    </div>
                </div>
                <span class="label filter-links">
                    <div ng-show="!brandFullyExpanded()">
                        <a href style="text-decoration:none;" ng-click="incrementBrandLimit()">+ See more</a>
                    </div>
                    <div ng-show="brandFullyExpanded()">
                        <a href style="text-decoration:none;" ng-click="decrementBrandLimit()">- See less</a>
                    </div>
                </span>

                <!-- merchants -->
                <div>
                    <span class="label"><h4 class="filter-header">Refine By Store</h4></span>
                    <span class="label" ng-show="storeSelection.length > 0"><a ng-click="clearFilter('merchant')" style="font-size:12px; text-decoration:underline;">Clear</a></span>
                </div>

                <div ng-repeat="merchant in merchants |orderBy:'count':true | limitTo:storeLimit">

                    <input id="{{merchant.name}}" type="checkbox" value="{{merchant.id}}" ng-checked="storeSelection.indexOf(merchant.id) > -1" ng-click="filter(merchant.id,'merchant')" />
                    <label for="{{merchant.name}}"></label>
                    <a ng-click="filter(merchant.id,'merchant')"><span class="filter filter-links">{{merchant.name}} ({{merchant.count}})</span></a>
                </div>
                <span class="label">
                    <div ng-show="!storeFullyExpanded()">
                        <a href style="text-decoration:none;" ng-click="incrementStoreLimit()">+ See more</a>
                    </div>
                    <div ng-show="storeFullyExpanded()">
                        <a href style="text-decoration:none;" ng-click="decrementStoreLimit()">- See less</a>
                    </div>
                </span>

            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div>
            <div class="panel-heading">
                <div class="results-summary">
                    <div ng-show="checkSomething()">You searched for: {{keyword}}.</div>Showing page <strong>{{currentPage}}</strong> of <strong>{{total}}</strong> products from <strong>{{num_merchants}}</strong> stores</div>

            </div>
            <div class="panel-bodsy">
                <div ng-repeat="product in products.products.product" class="row bottom-spacer">
                    <div class="col-md-2">
                        <a ng-click="selectItem(product);">
                            <img ng-src="{{product.image_url_large}}" height="100%" width="100%" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="row top-buffer">
                            <div class="col-md-12">
                                <span><a style="text-decoration:underline; color:#1a0dab; font-size:16px; font-family: arial,sans-serif;" ng-click="selectItem(product);">{{product.name}}<a/></span>
                            </div>
                            <div class="col-md-12">
                                <strong>£{{product.price_min}}</strong> from {{product.offer_count}} store<span ng-show="product.offer_count > 1">s</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div>
                <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size=5 items-per-page=10 boundary-links="true"></pagination>
            </div>
        </div>
    </div>
</div>
