<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <img ng-src="{{big_product_img}}" />
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="product-title">{{product_name}}</div>
            </div>
            <div class="col-md-12">
                <!-- need to replace/test we have the correct currency type -->
                <div class="product-title">£{{lowest_price}}</div>
            </div>
            <div class="col-md-12">
                <div class="product-description">{{product_description | characters:400}}</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <div class="product-title">Shops</div>
        <table ng-table class="table">
            <tr ng-repeat="offer in offers">
                <td data-title="">
                    <img ng-src="{{ getMerchantLogoUrl(offer.merchant) }}" />
                </td>
                <td data-title="'Seller'" sortable="'seller'">{{offer.merchant}}</td>
                <td data-title="'Base Price'" sortable="'bprice'">£{{offer.price_retail}}</td>
                <td data-title="'Total Price'" sortable="'tprice'">£{{offer.price_retail}}
                    <button type="button" class="btn btn-primary" ng-click="visitStore(offer.id)" style="margin-left:40px;">Go to store</button>
                </td>
            </tr>
        </table>
    </div>
</div>
</div>
</div>
</div>