<div class="row">
<div class="col-md-5">
    <div class="row">
        <a href="#/products/list" style="text-decoration: underline;color:#f66699;"><< Return to search results</a>
    </div>
<div class="row">
    <div class="col-md-3">
        <img ng-src="{{product.image_url_large}}" />
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <div class="product-name">{{product.name}}</div>
            </div>

            <div class="col-md-12">
                <div class="product-description">{{product.description | characters:400}}</div>
            </div>
        </div>
    </div>
</div>
    <!-- need to remove hardcoding of currency -->
<div>
    <table ng-table class="table">
        <tr ng-repeat="offer in product.offers.offer">
            <td data-title="'Seller'"><img src="{{offer.merchant.logo_url}}"/></td>
            <td data-title="'Price'">£{{offer.price_merchant}}</td>
            <td data-title="'Shop'"><a ng-href="{{offer.url}}" style="text-decoration: underline;color:#f66699;">Buy Now</a></td>
        </tr>
    </table>
</div>
</div>
</div>
